@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');

html,
body {
    font-family: 'Fira Code', monospace;
    color: #fff;
    background: #121212;
}

button {
    font-family: 'Fira Code', monospace;
    border: 5px solid #fff;
    color: #fff;
    background: #121212;
    margin: 5px;
    cursor: pointer;
}

button:active {
    background: #fff;
}

input {
    font-family: 'Fira Code', monospace;
    border: 2px solid #fff;
    color: #fff;
    background: #121212;
    margin: 5px;
    border-top: none;
}

textarea:focus,
input:focus {
    outline: none;
}

.fader {
    transition: opacity 1s;
}